<!-- Grand parent -->

<input hidden_input type="checkbox" id="subscription_side_modal">

<div modal_shadow >
</div>
<div modal_container>
  <div header>
    <label for="subscription_side_modal">
      <i close_icon ></i>
    </label>

    <h2 modal_title >
      {% if side_modal.modal_title %}
        {{side_modal.modal_title}}      
      {% endif %}    
    </h2>
  </div>
  <div custom_message> 
    {% block modal_custom_message %}
      
    {% endblock modal_custom_message %}

  </div>
  <div modal_message>
    <p text_message >

      {% if side_modal.modal_message %}
        {{side_modal.modal_message}}
      
      {% endif %}

    </p>

  </div>

</div>




<label side_button for="subscription_side_modal">  
  <p>   
    {% if side_modal.modal_button %}
      {{side_modal.modal_button}}      
    {% endif %}     
  </p>
</label>